.robot-container {
    height:1000px;
    width: 1500px;
    border: solid thick black;
    background: white;
}


.robot-face-shape {
    z-index: 1;
    border: solid thick black;
    border-radius: 15%/50%;
    height: 500px;
    width: 700px;
    background-image: url("https://picsum.photos/id/115/200/300");
    background-size: cover;
    position: fixed;
    left: 30%;
    top: 25%;
}
.robot-eye-left {
    border: solid 10px black;
    padding: 10px;
    border-radius: 50%;
    Height: 200px;
    width: 200px;
    background: #a7c1d0;
    position: absolute;
    left: 13%;
    top: 50px;
}
.robot-eye-left-1 { 
    border: solid 10px black;
    border-radius: 50%;
    Height: 90%;
    width: 90%;
    background: #677882;
    position: absolute;
}

.robot-pupil-left {
    border-radius: 50%;
    Height: 60%;
    width: 60%;
    background: radial-gradient(#f7b733, #fc4a1a);
    position: absolute;
    right: 20%;
    top: 20%;
}
.robot-eye-right {   
    border: solid 10px black;
    padding: 10px;
    border-radius: 50%;
    Height: 200px;
    width: 200px;
    background: #a7c1d0;
    position: absolute;
    right: 13%;
    top: 50px;
}
.robot-eye-right-1 { 
    border: solid 10px black;
    border-radius: 50%;
    Height: 90%;
    width: 90%;
    background: #677882;
    position: absolute;
    /*left: 10%;
    top: 10%;*/
}
    
.robot-pupil-right {
    border: solid rgb(107, 69, 19,);
    Height: 60%;
    width: 60%;
    border-radius: 50%;
    background: radial-gradient(#f7b733, #fc4a1a);
    position: absolute;
    right: 20%;
    top: 20%;
}
.robot-nose {
    border: Solid 10px Black;
    width: 126px;
    height: 180px;
    background-color: #a7c1d0;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    position: absolute;
    top: 40%;
    left: 37%;
    transform: scale(.7);
}

.robot-ear-left {
    width: 400px;
    height: 200px;
    position: fixed;
    left: 80px;
    top: 330px;
}
.robot-ear-left-1 {
    width: 100px;
    height: 180px;
    background: linear-gradient(#a7c1d0, #677882);
    border-radius: 20%/50%;
    position: absolute;
    right: 0;
    top: 0;
}
.robot-ear-left-2 {
    height: 140px;
    width: 100px;
    background: linear-gradient(#a7c1d0, #677882);
    position: absolute;
    border-radius: 20%/50%;
    right: 60px;
    top: 30px;
}
.robot-ear-left-3 {
     height: 100px;
    width: 80px;
    background: linear-gradient(#a7c1d0, #677882);
    position: absolute;
    border-radius: 20%/50%;
    right: 120px;
    top: 60px;
}
.robot-ear-right {
    width: 400px;
    height: 200px;
    position: fixed;
    right: 700px;
    top: 330px;
}
.robot-ear-right-1{
    width: 100px;
    height: 180px;
    background: linear-gradient(#a7c1d0, #677882);
    border-radius: 20%/50%;
    position: absolute;
    left: 0;
    top: 0;
}
.robot-ear-right-2{ 
    height: 140px;
    width: 100px;
    background: linear-gradient(#a7c1d0, #677882);
    position: absolute;
    border-radius: 20%/50%;
    left: 60px;
    top: 30px;
}
.robot-ear-right-3{
    height: 100px;
    width: 80px;
    background: linear-gradient(#a7c1d0, #677882);
    position: absolute;
    border-radius: 20%/50%;
    left: 120px;
    top: 60px; 
}


.robot-teeth {
 border: solid thick black;
    border-radius: 50%;
    Height: 100px;
    width: 500px;
    background-color: black;
    position: absolute;
    right: 13%;
    top: 350px;
    overflow: hidden;
}

.robot-tooth {
    height: 50px;
    width: 25px;
    background-color: wheat;
    border: black;
    border-radius: 10px;
    position: absolute;
}

.robot-hair-style {
    height: 400px;
    width: 400px;
    position: sticky;
    left: 570px;
    top: 20px;
}

.robot-hair-one {
    border: solid thick black;
    Height: 18px;
    width: 190px;
    transform: rotate(.2turn);
    background-color: #a7c1d0;
    position: absolute;
    right: 204px;
    top: 30%;
}

.robot-hair-two {
    border: solid thick black;
    Height: 18px;
    width: 190px;
    transform: rotate(-0.2turn);
    background-color: #a7c1d0;
    position: absolute;
    right: 3px;
    top: 30%;
}

.robot-hair-three {
    border: solid thick black;
    Height: 190px;
    width: 190px;
    border-radius: 50%;
    background-color: #a7c1d0;
    position: absolute;
    left: 110px;
    top: 30%;
}
